# Logs and Debug
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
public/api/debug_log.txt
public/api/cron_log.txt
api_response.json
sync_output.json
employees_columns.json

# Dependencies and Build
node_modules
dist
dist-ssr
*.local
tmp/

# Secrets (DO NOT UPLOAD TO GITHUB)
.env

# Deployment Artifacts
*.tar
*.b64

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
